/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-image: linear-gradient(#504637, #8a7b61, #8a7b61);
    scrollbar-width: thin; 
    scrollbar-color: #8a7b61 rgba(0, 0, 0, 0.3); 
}

/* Header Section */
header {
    text-align: center;
    padding: 0;
}
.banner {
    position: relative;
    width: 100vw; 
    height: 70vh; 
    overflow: hidden; 
}
.banner img {
    position: absolute;
    object-position: top;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
#info {
    font-size: 2vh;
    margin: 0;
}
.text-overlay h1 {
    font-size: 4vh;
    margin: 1vh;
}
.text-overlay p {
    font-size: 2.5vh;
}



/* Main Content */
main {
    padding: 2vh;
    color: white;
}
.accomplishments-content {
    max-width: calc(50vw + 50vh);
    margin: 0 auto;
    line-height: 1.8;
    font-size: calc(1vh + 1vw);
    text-align: center;
    background-image: url('/media/images/noise/black-felt.png');
    background-size: fixed;
    background-position: fixed;
    padding: 5vh;
    border-radius: calc(1vh + 1vw);
}
h2 {
    color: #372d26;
    margin-top: 3vh;
}

/* Gallery Section */
.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.gallery img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px #2a251e;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5vh;
    background-image: linear-gradient(#8a7b61, #5d4f38);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
