/* Header Section */
.banner {
    position: relative;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: calc(1vh + 1vw);
}
.text-overlay h1 {
    font-size: calc(1.9vw + 1.9vh);
    margin: 1vh;
}
.text-overlay p {
    font-size: calc(0.9vw + 0.9vh);
}

/* Main Content */
.skills-content {
    max-width: calc(50vw + 50vh);
    margin-top: calc(1vh + 1vw);
    margin-bottom: calc(1vh + 1vw);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.8;
    font-size: calc(1vh + 1vw);
    text-align: center;
    background-image: url('/media/images/noise/black-felt.png');
    background-attachment: fixed;
    background-size: fixed;
    background-position: fixed;
    padding: 5vh;
    border-radius: calc(1vh + 1vw);
}
.skills-content .intro p {
    color: #ffffff;
    font-size: calc(1vh + 1vw);
    line-height: 1.8;
    margin-bottom: 3vh;
}
.skills-header {
    font-size: calc(2.5vh + 1vw);
    color: #201d18;
    margin-top: 3vh;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(18.5vh + 18.5vw), 1fr));
    gap: calc(1vh + 1vw);
    padding: calc(1vh + 1vw);
}
.skill-box {
    background: rgba(70, 70, 70, 0.5);
    color: #ffffff;
    padding: calc(1.1vh + 1.1vw);
    border-radius: calc(0.8vh + 0.8vw);
    text-align: center;
    box-shadow: 0 calc(0.5vh + 0.5vw) calc(1.4vh + 1.4vw) rgba(0, 0, 0, 0.6);
    transition: transform 0.3s, box-shadow 0.3s ease;
}
.skill-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.5);
}
.skill-box .icon {
    font-size: calc(2vw + 2vh);
    margin-bottom: calc(1.5vh + 1.5vw);
    color: #ffd700;
}
.skill-box h3 {
    font-size: 1.5rem;
    margin-bottom: calc(1vh + 1vw);
    color: #e0e0e0;
}
.skill-box p {
    font-size: calc(1vh + 1vw);
    color: #c0c0c0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5vh;
    background-image: linear-gradient(#8a7b61, #5d4f38);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
