/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(#504637, #8a7b61, #8a7b61);
    font-family: Arial, sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #8a7b61 rgba(0, 0, 0, 0.3); 
}


/* Header Section */
header {
    text-align: center;
    padding: 0;
}
.banner {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
#info {
    font-size: 2.5vh;
    margin: 0;
}
.text-overlay h1 {
    font-size: 4.5vh;
    margin: 1vh;
}
.text-overlay p {
    font-size: 3vh;
}


/* Main Section */
main {
    padding: 3vh;
    color: white;
}
.interests-content {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 2.5vh;
}
h2 {
    color: #372d26;
    margin-top: 3vh;
}


/* Footer */
footer {
    text-align: center;
    padding: 1.5vh;
    background-image: linear-gradient(#8a7b61, #5d4f38);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
